<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<core:View xmlns:core="sap.ui.core" xmlns:mvc="sap.ui.core.mvc" xmlns="sap.m"
		controllerName="dasdsa.dsad" xmlns:html="http://www.w3.org/1999/xhtml">
	<Page title="Title">
		<content>
	
		</content>
	</Page>
</core:View>